{% extends 'base.html'%}
{% block content %}
<div style="margin-top: 8%;" class="container-fluid">
    <h3 style="color:#009DAE;margin-left: 35%;margin-top:30px;display: inline;font-family: 'Bubblegum Sans', cursive;">Date of Birth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3 style="font-family: 'Bubblegum Sans', cursive;color: #FFE652;background-color: #009DAE;display: inline;padding: 5px;border-radius: 4px;">{{dob}}</h3></h3>
    <br><br><br>
    <h3 style="color:#009DAE;margin-left: 35%;margin-top:100px;display: inline;font-family: 'Bubblegum Sans', cursive;">Age at the Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3 style="font-family: 'Bubblegum Sans', cursive;color: #FFE652;background-color: #009DAE;display: inline;padding: 5px;border-radius: 4px;">{{aad}}</h3></h3>
    <br><br><br>
    <h3 style="color:#009DAE;margin-left: 35%;margin-top:100px;display: inline;font-family: 'Bubblegum Sans', cursive;">Your Age is&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3 style="font-family: 'Bubblegum Sans', cursive;color: #FFE652;background-color: #009DAE;display: inline;padding: 5px;border-radius: 4px;">{{age}}</h3><h3 style="color:#009DAE;margin-top:100px;display: inline;font-family: 'Bubblegum Sans', cursive;"> &nbsp;&nbsp;Years</h3></h3>
    <br><br><br>
    
</div>

{% endblock %}