{% extends 'base.html'%}
{% block content %}
<div style="margin-top: 8%;" class="container-fluid">
    <h3 style="color:#009DAE;margin-left: 35%;margin-top:30px;display: inline;font-family: 'Bubblegum Sans', cursive;"> Your Weight&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3 style="font-family: 'Bubblegum Sans', cursive;color: #FFE652;background-color: #009DAE;display: inline;padding: 5px;border-radius: 4px;">{{weg}}kg</h3></h3>
    <br><br><br>
    <h3 style="color:#009DAE;margin-left: 35%;margin-top:100px;display: inline;font-family: 'Bubblegum Sans', cursive;"> Your Height&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3 style="font-family: 'Bubblegum Sans', cursive;color: #FFE652;background-color: #009DAE;display: inline;padding: 5px;border-radius: 4px;">{{heg}}cm</h3></h3>
    <br><br><br>
    <h3 style="color:#009DAE;margin-left: 35%;margin-top:100px;display: inline;font-family: 'Bubblegum Sans', cursive;"> Your BMI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3 style="font-family: 'Bubblegum Sans', cursive;color: #FFE652;background-color: #009DAE;display: inline;padding: 5px;border-radius: 4px;">{{bmi}}</h3></h3>
     <br><br><br>
    <h3 style="margin-left:43%;font-family: 'Bubblegum Sans', cursive;color: #FFE652;background-color: #009DAE;display: inline;padding: 5px;border-radius: 4px;">{{pos}}</h3>
</div>

{% endblock %}