{% extends 'base.html'%}
{% block content %}
<div style="margin-top: 8%;" class="container-fluid">
    <h3 style="color:#009DAE;margin-left: 35%;margin-top:30px;display: inline;font-family: 'Bubblegum Sans', cursive;"> Given Data is&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3 style="font-family: 'Bubblegum Sans', cursive;color: #FFE652;background-color: #009DAE;display: inline;padding: 5px;border-radius: 4px;">{{list}}</h3></h3>
    <br><br><br>
    <h3 style="color:#009DAE;margin-left: 35%;margin-top:100px;display: inline;font-family: 'Bubblegum Sans', cursive;"> Mean For Given Data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3 style="font-family: 'Bubblegum Sans', cursive;color: #FFE652;background-color: #009DAE;display: inline;padding: 5px;border-radius: 4px;">{{mean}}</h3></h3>
    <br><br><br>
    <h3 style="color:#009DAE;margin-left: 35%;margin-top:100px;display: inline;font-family: 'Bubblegum Sans', cursive;"> Standard Deviation for Given Data&nbsp;&nbsp;&nbsp;<h3 style="font-family: 'Bubblegum Sans', cursive;color: #FFE652;background-color: #009DAE;display: inline;padding: 5px;border-radius: 4px;">{{std}}</h3></h3>
    <br><br><br>
    <h3 style="color:#009DAE;margin-left: 35%;margin-top:100px;display: inline;font-family: 'Bubblegum Sans', cursive;"> Variance for given data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3 style="font-family: 'Bubblegum Sans', cursive;color: #FFE652;background-color: #009DAE;display: inline;padding: 5px;border-radius: 4px;">{{vac}}</h3></h3>
</div>

{% endblock %}