{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <h3 style="color:#009DAE;font-family: 'Bubblegum Sans', cursive;">Math Calculators</h3>
    <br>
    
    <a href="\binary.html" style="color:#009DAE;font-family: 'Bubblegum Sans', cursive;text-decoration:none">&nbsp;&nbsp;&nbsp;<i class="fas fa-star" style="color: #FFE652;background-color: #009DAE;border-radius: 5px;padding: 4px;"></i> &nbsp;&nbsp;<h4 style="display: inline;" onmouseover="this.style.color='#FFE652'" onmouseout="this.style.color='#009DAE'">Decimak to Binary Calculator</h4></a>

    <br><br>
    <a href="\decimal.html" style="color:#009DAE;font-family: 'Bubblegum Sans', cursive;text-decoration:none">&nbsp;&nbsp;&nbsp;<i class="fas fa-star" style="color: #FFE652;background-color: #009DAE;border-radius: 5px;padding: 4px;"></i> &nbsp;&nbsp;<h4 style="display: inline;" onmouseover="this.style.color='#FFE652'"  onmouseout="this.style.color='#009DAE'">Binary to Decimal Calculator</h4></a>
    <br><br>
    <a href="\MaSD.html" style="color:#009DAE;font-family: 'Bubblegum Sans', cursive;text-decoration:none">&nbsp;&nbsp;&nbsp;<i class="fas fa-star" style="color: #FFE652;background-color: #009DAE;border-radius: 5px;padding: 4px;"></i> &nbsp;&nbsp;<h4 style="display: inline;" onmouseover="this.style.color='#FFE652'" onmouseout="this.style.color='#009DAE'">Mean,Standard Deviation and Variance Calculator</h4></a>
    <br><br>
    <a href="\agecal.html" style="color:#009DAE;font-family: 'Bubblegum Sans', cursive;text-decoration:none">&nbsp;&nbsp;&nbsp;<i class="fas fa-star" style="color: #FFE652;background-color: #009DAE;border-radius: 5px;padding: 4px;"></i> &nbsp;&nbsp;<h4 style="display: inline;" onmouseover="this.style.color='#FFE652'" onmouseout="this.style.color='#009DAE'">Age Calculator</h4></a>
    <br><br>
    <a href="\calbmi.html" style="color:#009DAE;font-family: 'Bubblegum Sans', cursive;text-decoration:none">&nbsp;&nbsp;&nbsp;<i class="fas fa-star" style="color: #FFE652;background-color: #009DAE;border-radius: 5px;padding: 4px;"></i> &nbsp;&nbsp;<h4 style="display: inline;" onmouseover="this.style.color='#FFE652'" onmouseout="this.style.color='#009DAE'">Body Mass Index(BMI) Calculator</h4></a>
    <br><br>
    <a href="\logcal.html" style="color:#009DAE;font-family: 'Bubblegum Sans', cursive;text-decoration:none">&nbsp;&nbsp;&nbsp;<i class="fas fa-star" style="color: #FFE652;background-color: #009DAE;border-radius: 5px;padding: 4px;"></i> &nbsp;&nbsp;<h4 style="display: inline;" onmouseover="this.style.color='#FFE652'" onmouseout="this.style.color='#009DAE'">Log Calculator</h4></a>



</div>

{% endblock %}