{% extends 'base.html' %}

{% block content %}

<div class="container-fluid" style="margin-top: 10%;">
    <form action="cal" method="post" style="align-items: center;" >
        {% csrf_token %} 
        <h4 style="margin-left:30%;display: inline;color:#009DAE;font-family: 'Bubblegum Sans', cursive;" >Enter Numbers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
        <input type="test"class="form-control" placeholder="values , seperated" name="values" style="width:auto;margin-left:5%;display: inline;font-family: 'Bubblegum Sans', cursive;" >
        <br>
        <br>
        <button type="submit" style="margin-left: 45%; background-color:#FFE652;color:#009DAE;font-family: 'Bubblegum Sans', cursive;" class="btn">Calculate</button>
    </form>

</div>

{% endblock %}